.App {
  text-align: center;
}

.App-logo {
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  height: 20vmin;
  pointer-events: none;
}

.App-Logo-Container {
  background-color: #282c34;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.digit {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.numRow {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.Numpad {
  width:50vw;
	margin:50px auto;
	border:1px solid #333;
	border-radius:0px;
	background:#eee;
  
}
.Numpad .padRow {
  width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  
}
.Numpad #twoKey {
  background-color: #282a2e;
	box-sizing: border-box;
	width: 46%;
	margin: .7% 1.65%;
	font-size: 2em;
	font-family: monospace;
  white-space: normal;
}
.Numpad .numKey {
  background-color: #282a2e;
	box-sizing: border-box;
	width: 30%;
	margin: .7% 1.65%;
	font-size: 2em;
	font-family: monospace;
  white-space: normal;
  cursor: pointer;
}

.gridParent {
  margin: 100px;
  height: 550px;
  display: flex;
  flex-direction: column;
}