.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-Logo-Container {
  background-color: #282c34;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.digit {
  flex:33%;
  display:grid;
  margin:5px;
  place-items: centre;
  color: white;
  border: 1px solid gray;
  height:100%;
}

.numRow {
  flex:33%;
  display:flex;
  flex-direction:row;
  margin:5px;
}